$color: #000000;
$color0: #ffffff;
$color1: #e056fd;
$color2: #34e7e4;
$color3: #ffe4e4;
$color4: #ef5777;

.log__view {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.submit__btn {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: $color1;
  color: $color0;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1px $color;
  transition: box-shadow 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 0 5px $color;
  }
}