$btn-color: #ffffff;
$btn-bg: #275677;
$btn-border: #1e3a56;

.log__view {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.submit__btn {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: #ef5777;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transition: box-shadow 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  }
}