$color: #000000;
$color0: #ffffff;
$color1: #e056fd;
$color2: #34e7e4;
$color3: #ffe4e4;
$color4: #ef5777;
$color5: #bb3cff18;
$color6: #bb3dff18, 0, 0.2;


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 900;
    margin-bottom: 10px;

    input {
      background-color: $color0;
      width: 300px;
      padding: 10px;
      border: none;
      border-radius: 4px;
      margin-top: 5px;
      font-size: 0.7rem;
      box-shadow: 0 0 5px $color6;
      transition: box-shadow 0.3s;

      &:hover,
      &:focus {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: $color5;
      }
    }
  }

  .submit__btn[type="submit"] {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: $color1;
    color: $color0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px $color;
    transition: box-shadow 0.3s;

    &:hover,
    &:focus {
      box-shadow: 0 0 5px $color;
    }
  }
}
