.Home {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Dancing Script';

  .welcomw_h1 {
    font-size: 10rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000;
    animation: fade-in 3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(50px);
  }
}

